<!--<nav class="navbar navbar-inverse">
    <div class="container-fluid">
     
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li (click)="setCurrentNav(1)" [ngClass]="{ active: getCurrentNav(1)}"><a href="/v">Véhicule <span class="sr-only">(current)</span></a></li>
          <li (click)="setCurrentNav(2)" [ngClass]="{ active: getCurrentNav(2)}"><a href="/c">Chauffeur</a></li>
          <li (click)="setCurrentNav(3)" [ngClass]="{ active: getCurrentNav(3)}"><a href="/g">Groupe</a></li>
          
        </ul>
        
      
      </div>
    </div>
  </nav>-->
      <router-outlet></router-outlet>


